<launch>
  <arg name="server_addr" default="127.0.0.1" />
  <arg name="server_port" default="20011" />
  <arg name="sim" default="true" />

  <group if="$(arg sim)">
    <node name="sim_sender" pkg="consai2_sender" type="sim_sender.py" output="screen" required="true">
      <param name="server_addr" value="$(arg server_addr)" />
      <param name="server_port" value="$(arg server_port)" />
    </node>
  </group>

</launch>
