<launch>
  <!-- grSimのロボットを動かす場合はtrue -->
  <arg name="sim" default="false" />
  <!-- その他パラメータの読み込み -->
  <include file="$(find consai2_description)/launch/description.launch"/>

  <group ns="/$(arg color)$(arg side)">

    <!-- ビジュアライザの起動 -->
    <include file="$(find consai2_examples)/launch/visualizer.launch">
      <arg name="side" value="$(arg side)" />
      <arg name="color" value="$(arg color)" />
    </include>

    <include file="$(find consai2_sender)/launch/sender.launch">
      <arg name="load_description" value="false" />
      <arg name="sim" value="$(arg sim)" />
    </include>

    <node name="consai2_control" pkg="consai2_control" type="example_control.py" required="true" output="screen" />
    <node name="pk_goalie_auto" pkg="consai2_examples" type="pk_goalie_auto.py" required="true" output="screen" />
  </group>
</launch>
